@inherits LayoutComponentBase

<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Dense="true" Elevation="0" Class="border-b" Style="border-color: var(--mud-palette-divider);">
        <MudText Typo="Typo.h5" Color="Color.Default">
            <strong>
                Chilengo
            </strong>
        </MudText>
        <MudSpacer/>
    </MudAppBar>

    <MudMainContent CLass="mb-20">
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<MudThemeProvider Theme="Themes.Default"/>
<MudDialogProvider/>
<MudSnackbarProvider/>